<div class="general-div">
    <h1>Login</h1>
    <form>
        <input required id="email" type="text" placeholder="Email">
        <input required id="password" type="text" placeholder="Password">
        <button class="login-button" type="button" (click)="submitLogin()">Login</button>
    </form>
        <p class="footer-elements">Do not have an account? <a class="footer-elements" [routerLink]="['/register']">SIGN UP</a></p>
        <p><a [routerLink]="['/forgot-password']">Forgot password?</a></p>
</div>
