p, h1{
    color: #ffffff;
    text-align: center;
}
h1{
    margin: 2% 25%;
}
.general-div{
    padding: 2%;
    margin: 0 25%;
    background-color: #000000;
    border-radius: 25px;
}
input{
    width: 50%;
    margin: 2% 25%;
    padding: 1% 1%;
    line-height: 5%;
}
button{
    text-align: center;
    width: 20%;
    margin: 2% 40%;
}
a:link, a:visited, a:active{
    color: #c7ffc0;
    text-align: center;
    text-decoration: none;
}
a:hover{
    color: #ff0000;
    text-align: center;
    text-decoration: underline;
}
.alert
{
    width: 50%;
    margin: 2% 25%;
    padding: 1% 1%;
    text-align: center;
}
@media screen and (max-width: 767px) {
    .general-div {
        margin: 0 1%;
    }
}
