h1, h2{
    text-align: center;
}
h1{
    color: #ffffff;
    margin: 2% 25%;
}
p, h2{
    color: #000000;
}
p, div{
    text-align: justify;
    padding: 0 5%;
}
.general-div{
    padding: 2%;
    margin: 0 2%;
    background-color: #000000;
    border-radius: 25px;
}
.post-section, .no-posts-section{
    padding: 2% 0;
    margin: 5%;
    background-color: #ffffff;
    border-radius: 25px;
    width: 90%;
}
footer{
    margin-top: 5%;
}
.post-footer-table{
    margin-left: 5%;
    background-color: #ffffff;
}
