<div class="general-div">
    <header>
        <h1>&#9673;</h1>
    </header>

    <section class="post-section" *ngFor="let post of posts;">
        <article>
            <p hidden class="id">{{post.id}}</p>
            <header><h2>{{post.title}}</h2></header>
            <div [innerHTML]="post.content"></div>
        </article>
        <footer>
            <table class="post-footer-table">
                <tr class="post-footer-tr">
                    <a [routerLink]="['editar', post.id]">
                        <td class="post-footer-td">✏️</td>
                        <td class="post-footer-td">Editar</td>
                    </a>
                </tr>
            </table>
            <table class="post-footer-table">
                <tr class="post-footer-tr">
                    <a [routerLink]="['deletar', post.id]">
                        <td class="post-footer-td">🗑️</td>
                        <td class="post-footer-td">Excluir</td>
                    </a>
                </tr>
            </table>
        </footer>
        <table class="table table-striped"><thead><tr><th>Column 1</th><th>Column 2</th></tr></thead><tbody><tr><td>Row 1</td><td>Row 1</td></tr><tr><td>Row 2</td><td>Row 2</td></tr></tbody></table>
    </section>

    <section class="no-posts-section" *ngIf="!posts || posts.length == 0">
        <article>
            <header><h2>No posts found</h2></header>
            <p>The posts you create in the future will show up here!</p>
        </article>
    </section>
    <footer>
        <h1>&#9711;</h1>
    </footer>
</div>
