/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0 0 2%;
    background: linear-gradient(90deg, rgba(255,0,0,1) 5%, rgba(199,255,192,1) 60%);
}
