<div class="general-div">
    <h1>Sign Up</h1>
    <form>
        <input id="name" type="text" placeholder="Name">
        <input id="email" type="text" placeholder="Email">
        <input id="phone" type="text" placeholder="Phone" mask="+##(##)#####-####">
        <input id="password" type="text" placeholder="Password">
        <button class="login-button" type="button">Create Account</button>
    </form>
        <p class="footer-elements">Already have an account? <a class="footer-elements" [routerLink]="['/login']">LOGIN</a></p>
</div>
