p, h1{
    color: #ffffff;
    text-align: center;
}
h1{
    margin: 2% 25%;
}
.general-div{
    padding: 2%;
    margin: 0 25%;
    background-color: #000000;
    border-radius: 25px;
}
input{
    width: 50%;
    margin: 2% 25%;
    padding: 1% 1%;
    line-height: 5%;
}
button{
    text-align: center;
    width: 20%;
    margin: 2% 40%;
    padding: 2% 2%;
    line-height: 7%;
}
a{
    color: #76e667;
    text-align: center;
}